<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maria's youtube downloader</title>
    <div style="border: 2px solid #000">
        <h1 text-align:center style="background-color:aqua; text-align:center">Maria's youtube video </h1>
    </div>
    
</head>
<body>
    {% block content %}

    {% endblock content %}

    <h1 style="text-align :center">Thanks for downloading with us</h1>
    
</body>
</html>